VITE_SUPABASE_URL=https://liouqlfqrfafykfhayzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxpb3VxbGZxcmZhZnlrZmhheXpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDkxMjYsImV4cCI6MjA5NjkyNTEyNn0.mfs7VpLqU04h71ciexXoYS_7TsCDtDQ9Wv84Vmr5D8Y

